.task {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 15px 25px;
  position: relative;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_completed {
    color: #777;

    .task__heading {
      text-decoration: line-through;
    }
  }

  &__delete {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    padding: 0;
    color: #777;
    border: 1px solid #eee;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
  }

  &__tomato {
    margin-bottom: 3rem;
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0.5em;
    color: #777;
  }

  &__heading {
    font-size: 1.225rem;
    margin-bottom: 1rem;
  }

  &__toggle {
    margin-top: auto;
    align-self: flex-start;
    font-size: 14px;
  }
}
